@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

*{
	font-family: 'Oxygen', sans-serif;

}

.navbar-collapse{
	justify-content: flex-end;
}

.header{
	background: url(https://pbs.twimg.com/media/FdvCGJeWYAM3Smd?format=jpg&name=small);
	background-attachment: fixed;
	background-size: cover;
}

.overlay{
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(169, 169, 169, 0.35);
}

.headerContent{
	position: absolute;
	color: white;
	top: 35%;
	min-width: 100%;
}


.headerContent p{
	font-size: 1.5rem;
}

.about, .cats, .tradein, .more-cats, .team, .contact{
	padding: 4em;
}

.about h1, .cats h1, .tradein h1, .more-cats h1, .team h1{
	padding-bottom: 1.5em;
}

.aboutPadding{
	padding: 0 3em;
}

.cats, .more-cats{
	background: #343a40;
	color: white;
}

.tradein{
	background: white;
	color: #343a40;
}
.black-text, .more-cats{
	color: black;
}
.team img{
	border: 5px solid #343a40;
}
.personDesciption, .contact{
	
}
.more-cats h1{
	color: white;
}